#notices {
    float: right;
    width: auto;
}
#notices .icon-entypo.icon-list {
    display: inline-block;
    width: auto;
}
#notices .count {
    display: inline-block;
    width: auto;
}
#notices.red span {
    color: #B60F0F;
}