#notices {
  float: right;
  width: auto;

  .icon-entypo.icon-list {
    display: inline-block;
    width: auto;
  }
  .count {
    display: inline-block;
    width: auto;
  }

  &:not(.reminders) {
    .icon-entypo.icon-list,
    .count {
      color: white;
    }
  }
}
